@layer components {
  .no-arrow {
    @apply appearance-none bg-none;
  }
}

/* Hide the dropdown arrow */
.select-no-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}
